.room-title p{
    font-size: 24pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.room-page-info{
    margin: 40px 0;
    display: flex;
    justify-content: space-evenly;
}
.room-page-info p{
    font-size: 12pt;
}
.room-page-info span{
    color: red;
    font-weight: bold;
    
}
.member-list-items{
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
}
.member-list-title p{
    text-align: center;
    font-size: 14pt;
}
.room-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.room-title{
  color: gray;
}
.room-name{
    border: 2px solid;
    border-radius: 5%;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    --angle: 0deg;
    /* … */
    border-image: linear-gradient(var(--angle), red, yellow) 1;
    animation: 1s rotate linear infinite;
  }
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  .room-name p{
margin: 10px;
color: black;

  }
.member-list{
    margin: 40px 0;
    font-size: 14pt;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.member-list-items p{
    width: 50%;
    text-align: center;
}